spec:
  template:
    spec:
      containers:
      - name: app-config
        image: quay.io/redhattraining/do100-app-config:v1.0
        volumeMounts:
          - mountPath: "/opt/app-root/secure"
            name: appsec-vol
            readOnly: true
      volumes:
        - name: appsec-vol
          secret:
            secretName: appconffilesec
